.explore-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.explore-menu h1 {
  font-weight: 500;
  color: #333;
}

.explore-menu-text {
  max-width: 60%;
  color: #808080;
}

.explore-menu-list {
  display: flex;
  gap: 30px;
  text-align: center;
  margin: 20px 0;
  overflow-x: scroll;
  scrollbar-width: none; /* Hides scrollbar for Firefox */
}

.explore-menu-list::-webkit-scrollbar {
  display: none; /* Hides scrollbar for Webkit browsers */
}

.explore-menu-list-item {
  cursor: pointer;
  transition: transform 0.3s ease;
}

.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.explore-menu-list-item img.active {
  border: 3px solid #ff6347;
}

.explore-menu-list-item p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #333;
}

.explore-menu-list-item:hover {
  transform: scale(1.1);
}
